@use '../../variables';

.resume-item-description {
    position: relative;
    border-left: 2px solid variables.$primary-color;
    padding: 0 25px 8px 25px !important;

    h4 {
        font-family: variables.$font-open-sans;
        font-size: 1.2rem;
        color: variables.$primary-color;
    }

    .resume-item-date {
        font-weight: 700 !important;
        background-color: variables.$accent-color;
        display: inline-block;
        padding: 5px;
        font-family: variables.$font-raleway !important;
    }
    .resume-item-p {
        margin-top: 10px;
        font-size: 0.9rem;
        font-family: variables.$font-open-sans;
        font-weight: 400;
    }
    .resume-item-link {
        margin-top: 10px;
        font-size: 0.9rem;
        font-family: variables.$font-open-sans;
        font-weight: 400;
        a {
            margin-left: 5px;
            color: variables.$primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #address-contacts {
        font-family: variables.$font-open-sans;
        margin-top: 10px;
        li {
            list-style-type: circle;
            list-style-position: inside;
        }
    }

    &::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: variables.$bg-color;
        border: 2px solid variables.$primary-color;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -11px;
    }
}
