@use '../../variables';

#resume {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px 0 175px;
    text-align: center;
    color: variables.$text-color;
    margin: 75px auto;

    .section-heading {
        font-size: 2.2rem;
        font-family: variables.$font-raleway;
        text-transform: uppercase;
        margin: 75px 0 15px 0;
    }

    .resume-description {
        margin-top: 25px;
        font-family: variables.$font-open-sans;
        font-weight: 400;
        font-size: 1.2rem;

        a {
            color: variables.$primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    article {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        .resume-cols {
            width: 50%;
            text-align: left;
            flex: 50% !important;
        }
    }
}

@media screen and (max-width: 990px) {
    #resume {
        padding: 0 100px;

        article {
            flex-direction: column;
            align-items: center;

            .resume-cols {
                width: 80%;
            }
        }
    }
}
