@use '../../variables';

#portfolio {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px 0 175px;
    text-align: center;
    color: variables.$text-color;
    margin: 75px auto;
    overflow: hidden;

    .section-heading {
        font-size: 2.2rem;
        font-family: variables.$font-raleway;
        text-transform: uppercase;
        margin: 75px 0 15px 0;
    }

    .section-description {
        margin-top: 25px;
        font-family: variables.$font-open-sans;
        font-weight: 400;
        font-size: 1.2rem;

        a {
            color: variables.$secondary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    article {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 990px) {
    #portfolio {
        padding: 0 175px;
    }
}

@media screen and (max-width: 630px) {
    #portfolio {
        padding: 0 50px;
    }
}
