@use '../../variables';

.project-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 50px 0;
    transform: translateY(200px);

    &:nth-child(even) {
        flex-direction: row-reverse;
        .project-description-container {
            text-align: left;
            position: absolute;
            left: 0;

            .project-text {
                &:nth-child(4) {
                    span {
                        margin-right: 20px;
                    }
                }
            }

            .project-description {
                text-align: left;
            }

            .project-links {
                margin-top: 20px;

                a {
                    margin-right: 20px;
                }
            }
        }
    }

    &:nth-child(odd) {
        flex-direction: row;
        .project-description-container {
            text-align: right;
            position: absolute;
            right: 0;

            .project-text {
                &:nth-child(4) {
                    span {
                        margin-left: 20px;
                    }
                }
            }

            .project-description {
                text-align: right;
            }

            .project-links {
                margin-top: 20px;
                a {
                    margin-left: 20px;
                }
            }
        }
    }

    .project-description-container {
        width: 50%;
        max-width: 50%;
        .project-text {
            &:nth-child(1) {
                font-family: variables.$font-montserrat;
                font-size: 0.9rem;
                font-weight: 600;
            }

            &:nth-child(4) {
                font-size: 0.9rem;
                font-family: variables.$font-open-sans;
                color: variables.$text-color;
            }
        }

        h4 {
            text-transform: capitalize;
            font-family: variables.$font-open-sans;
            font-size: 1.5rem;
            margin-top: 10px;
        }

        .project-description {
            margin: 20px 0;
            background-color: variables.$accent-color;
            padding: 30px 20px 30px 20px;

            p {
                font-family: variables.$font-open-sans;
                font-size: 0.9rem;
            }
        }

        .project-links {
            font-size: 1.8rem;

            a {
                color: variables.$text-color;

                &:hover {
                    color: variables.$secondary-color;
                }
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        max-height: 350px;
        filter: saturate(0);
        transition: filter 0.2s linear;

        &:hover {
            cursor: pointer;
            filter: saturate(1);
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-container {
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .project-container {
        width: 100%;
        min-height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: none;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:nth-child(odd) {
            .project-description-container {
                text-align: left;

                .project-description {
                    text-align: left;
                }

                .project-text {
                    &:nth-child(4) {
                        span {
                            margin: 0 20px 0 0;
                        }
                    }
                }

                .project-links {
                    a {
                        margin: 0 20px 0 0;
                    }
                }
            }
        }

        .project-description-container {
            width: 100%;
            max-width: 100%;
            position: relative !important;
            padding: 30px;
            background-color: #242424c7;
            color: variables.$bg-color;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            transition: background-color 0.3s linear;

            &:hover {
                background-color: #39393969;
            }

            .project-description {
                text-align: left;
                background: none;
                padding: 0;
                color: variables.$bg-color;
            }

            .project-text {
                span {
                    color: variables.$bg-color;
                }
            }

            .project-links {
                a {
                    color: variables.$bg-color;
                }
            }
        }
    }
}
