@use '../../variables';

#skills {
    ul {
        width: 90%;
        max-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
            width: 25%;
            flex: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
            margin: 15px 0;
            font-family: variables.$font-montserrat;

            span {
                &:nth-child(1) {
                    color: variables.$primary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:nth-child(2) {
                    color: variables.$text-darker-color;
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    #skills {
        ul {
            li {
                width: 50%;
                flex: 25%;
                span {
                    &:nth-child(2) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    #skills {
        ul {
            flex-wrap: nowrap;
            max-height: none;
            li {
                width: 100%;
                flex: 100%;
                margin: 10px 0;
                span {
                    &:nth-child(2) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
