@use '../../variables';

#about {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px 0 175px;
    text-align: center;
    color: variables.$text-color;
    margin: auto;

    article {
        width: 100%;
        height: 100%;
        margin: 75px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .article-heading {
            font-size: 2.2rem;
            font-family: variables.$font-raleway;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        p {
            margin-top: 25px;
            font-family: variables.$font-open-sans;
            font-weight: 400;
            font-size: 1.2rem;
        }

        .description-container {
            margin: 40px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                width: 300px;
                min-width: 300px;
                height: 300px;
                object-fit: cover;
            }

            .description-texts {
                min-width: 50%;
                max-width: 60%;
                text-align: left;
                margin-left: 25px;

                h2 {
                    font-size: 1.8rem;
                    font-family: variables.$font-raleway;
                    color: variables.$primary-color;
                }

                p {
                    margin-top: 10px;
                }

                .description-lists {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    #portfolio {
        padding: 0;
    }
}

@media screen and (max-width: 990px) {
    #about {
        padding: 0 100px;

        article {
            .description-container {
                width: 100%;
                flex-direction: column;
                align-items: center;

                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }

                .description-texts {
                    min-width: 100%;
                    margin: 0;

                    .description-lists {
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    #about {
        padding: 0 50px;
    }
}
