@use '../../variables';
#contact {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px 0 175px;
    text-align: center;
    color: variables.$text-color;
    margin: 75px auto;

    .section-heading {
        font-size: 2.2rem;
        font-family: variables.$font-raleway;
        text-transform: uppercase;
        margin: 75px 0 15px 0;
    }

    .contact-info-container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            margin: 5px;
            font-family: variables.$font-open-sans;
            font-weight: 400;
            font-size: 1.2rem;

            a {
                color: variables.$primary-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .contact-links {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            flex-wrap: wrap;

            li {
                flex: 25%;
                margin: 20px 0;
                min-width: 200px;

                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    span {
                        &:nth-child(1) {
                            font-size: 2rem;
                            color: variables.$primary-color;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            transition: background-color 0.2s linear,
                                color 0.2s linear;
                        }

                        &:nth-child(2) {
                            font-size: 1rem;
                            font-family: variables.$font-montserrat;
                            font-weight: 500;
                            text-transform: capitalize;
                            color: variables.$text-color;
                        }
                    }

                    &:hover {
                        span {
                            &:nth-child(1) {
                                color: variables.$bg-color;
                                background-color: variables.$primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 990px) {
    #contact {
        padding: 0 100px;

        .contact-info-container {
            .contact-links {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    #contact {
        padding: 0 50px;
        .contact-info-container {
            p {
                line-height: 2.5rem;
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #contact {
        padding: 0 25px;

        .contact-info-container {
            p {
                font-size: 1.5rem;
            }

            .contact-links {
                li {
                    min-width: 50% !important;

                    a {
                        span {
                            &:nth-child(1) {
                                font-size: 3rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
