@use '../../variables';
.navBtns {
    margin: 15px 0;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color: variables.$accent-color;
        border-radius: 50%;
        color: variables.$text-color;
        font-size: 1.5rem;
        font-family: variables.$font-montserrat;
        transition: width 0.2s ease-in-out, background-color 0.2s linear,
            color 0.2s linear;

        span {
            display: none;
            text-transform: capitalize;
            font-size: 1rem;
            margin-left: 10px;
        }

        &:hover {
            background-color: variables.$primary-color;
            color: variables.$bg-color;
            width: auto;
            border-radius: 50px;
            padding-right: 20px;

            span {
                display: inline;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .navBtns {
        width: 100%;
        a {
            width: 100%;
            border-radius: 50px;
            justify-content: flex-start;

            span {
                display: inline;
            }
        }
    }
}
