$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$text-color: #45505b;
$primary-color: #0563bb;
$secondary-color: #728394;
$accent-color: #f2f3f5;
$bg-color: white;
