$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$primary-color: #0563bb;
$primary-comp-color: #bb5705;
$secondary-color: #ff6f61;
$accent-color: #f2f3f5;
$bg-color: #ffffff;
$text-color: #45505b;
$text-lighter-color: #bdc0c7;
$text-darker-color: #272829;
