@use '../../variables';

.interest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: variables.$bg-color;
    margin: 30px 80px;
    flex: 10%;
    span {
        &:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 15px;
            background-color: variables.$primary-color;
            border-radius: 50%;
        }

        &:nth-child(2) {
            margin-top: 20px;
            text-transform: capitalize;
            font-family: variables.$font-montserrat;
            font-size: 1.5rem;
            font-weight: 400;
            color: variables.$text-darker-color;
        }
    }
}

@media screen and (max-width: 990px) {
    .interest {
        flex: 25%;
    }
}
